.benefits{
    
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits__list{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}
.benefits__item:not(last-child){
    margin-right: 30px;
}
.benefits__tittle{
    
    font-size: 14px;
    line-height: 1.14;
}
.benefits__text{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    color:var(--text-secondColor);
}
.benefits__thumb{
    width: 270px;
   height: 120px;
   margin-bottom: 30px;
   background-color: #F5F4FA;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
}